
main {
  display: grid;
  grid-template-columns: 100%;
  padding-top: 40px;
  background-color: #eaeaea;
  // justify-content: start;
  // align-items: center;
  // width: 100%;
  height: calc(100vh - 64px)
}
/* main.component.css */
// .main-container {
//   height: calc(100vh - 64px); /* Altura total menos a altura do header (ajuste conforme necessário) */

// }

.button-menu{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.button-menu:hover{
  columns: rgb(255, 255, 255);
  transform: scale(1.1);

}

.mat-drawer{
  width: 20%;
}


.icon{
  font-size: 30px;
  color: rgb(3, 3, 3);
}
