
main {
    display: grid;
    grid-template-columns: 100%;
    padding-top: 40px;
    background-color: #eaeaea;
    // justify-content: start;
    // align-items: center;
    // width: 100%;
    // height: 100%;
    height: calc(100vh - 64px)
  }

  .button-menu{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .button-menu:hover{
    columns: rgb(8, 6, 6);
    transform: scale(1.1);
  
  }
  
  .mat-drawer{
    width: 20%;
  }
  
  
  .icon{
    color: rgb(2, 2, 2);
    font-size: 30px;
  }