<app-header></app-header>
<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required />
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
        />
      </div>
      <button type="submit" class="btn-login">Entrar</button>
    </form>
    <p class="signup-link">
      Não tem conta? <button type="button" class="btn-signup" (click)="goToSignup()">Faça Cadastro</button>
    </p>

  </div>
</div>
<app-footer></app-footer>