body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: 	#9264aa;
    color: 	#fcfafa;
    // color: #867878;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    z-index: 1000; /* Z-index alto para garantir que o header fique acima de outros elementos */
    position: fixed;
    left: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: 	#f7f3f3;
    font-size: 24px;
    text-decoration: none;
  }
  
  .button-logout{
    background-color: transparent;
    color: #fcfafa;
    border: none;
  }
  .button-logout:hover{
    transform: scale(1.1);
  }