body {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed; /* Fixa o header na parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Z-index alto para garantir que o header fique acima de outros elementos */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  /* Adicione um espaço abaixo do header para não sobrepor o conteúdo */
  main {
    margin-top: 60px; /* Altura do header + espaço adicional */
  }
  