/* Estilização geral do componente */
:host {
  display: block;
  background-color: #F7F9F9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  width: 90%;
  height: fit-content;
  max-height: 70dvh;
  overflow-y: auto;
  margin: 2rem auto;
}
/* Estilização do scrollbar */
:host::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

:host::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
  background-color: #9264aa;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

:host::-webkit-scrollbar-thumb:hover {
  background: #9357b4;
}

/* Título principal */
h2 {
  color: #06080a;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Labels e inputs */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #6c757d;
}

input[type="text"] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

/* Botões */
.botao {
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;

    &.primary {
      background-color: #361963;
      color: aliceblue;

      &:hover:not(:disabled) {
        background-color: #9b9ecc;
      }
      
      &:disabled {
        background-color: #9b9ecc;
        cursor: not-allowed;
      }
    }

    &.secondary {
      background-color: #361963;
      color: #fff;

      &:hover:not(:disabled) {
        background-color: #9b9ecc;
      }
    }

    &:disabled {
      background-color: #9b9ecc;
    }
  }

/* Estilização específica das tarefas */
.task-input-container {
  display: flex;
  align-items: center; /* Alinha verticalmente */
}



.task-input-group {
  margin-bottom: 1rem;
}

.task-header {
  display: flex;
  justify-content: space-between; /* Distribui o conteúdo horizontalmente */
  align-items: center; /* Alinha verticalmente */
}

.button-delete { 
  border: none;
  background-color: transparent;
  color: #361963;
  
  &:hover{
    color: #0f0c0c; /* Muda a cor ao passar o mouse */
    transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
  }
}

