:host {
  display: block;
  border-radius: 0.5rem;
  width: 90%;
  margin: 2rem auto;
  height: fit-content;
  max-height: 70dvh;
  overflow-y: auto;
  align-items: center;
  // padding: 20px;
}

/* Estilização do scrollbar */
:host::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

:host::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

:host::-webkit-scrollbar-thumb {
  background-color: #9264aa;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

:host::-webkit-scrollbar-thumb:hover {
  background: #9357b4;
}

.progress-spinner {
  margin: auto;
  height: 40px !important;
  width: 40px !important;
}
t
.tasks {
  list-style-type: none;
  padding: 0;
}

.parent-task {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  background-color: #c3b1bf; 
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;       
  justify-content: space-between; 
  align-items: center;    
  position: relative;    
}

.parent-task.mat-list-item {
  display: flex; 
}

.completed {
  text-decoration: line-through !important;
}

.list_container {
  align-items: center;
  background-color: transparent !important;
  height: 100%;
  margin: 0 aut;
  padding: 20px;
  box-shadow: 0 0 20px rgba(2, 2, 2, 2);
}

.delete-button {
  position: absolute;
  right: 40px; 
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  color: #616161; 
  transform: scale(1.1); 
}

.delete-button mat-icon {
  color: #361963; 
}

.edit-button {
  position: absolute;
  right: 80px; 
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  
}

.edit-button:hover {
  color: #616161; 
  transform: scale(1.1);
}

.edit-button mat-icon {
  color: #361963;
}