<div class="list_container">
  <mat-list *ngFor="let group of (taskGroups$ | async)">
    <mat-list-item [ngClass]="{'parent-task': true}">
      <mat-checkbox [checked]="group.listStatus" (change)="updateListStatus(group)">
        {{ group.listTitle }}
      </mat-checkbox>

      <button class="delete-button" (click)="deleteTaskList(group.listID)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
    <mat-list *ngFor="let task of group.tasks">
      <app-task-item [task]="task" (taskChange)="updateTaskStatus($event)"></app-task-item>
    </mat-list>
  </mat-list>
</div>
