.edit-dialog-content {
  background-color: rgb(254, 250, 253);
  display: flex;
  flex-direction: column;
  gap: 1rem;

}
.card-edit{
  overflow-y: auto !important;
}
/* Estilização do scrollbar */
.card-edit::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.card-edit::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.card-edit::-webkit-scrollbar-thumb {
  background-color: #9264aa;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.card-edit::-webkit-scrollbar-thumb:hover {
  background: #9357b4;
}

.edit-dialog-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.edit-dialog-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.edit-dialog-content input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.task-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.task-header {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.task-header label {
  margin-bottom: 0;
}

.button-delete {
  position: absolute;
  right: 20px; /* Ajuste conforme necessário */
  background: none;
  border: none;
  cursor: pointer;
}

.button-delete:hover {
  color: #616161; /* Muda a cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
}

.button-delete mat-icon {
  color: #361963; /* Cor do ícone, ajuste conforme necessário */
}

.button-add {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.button-add:hover {
  color: #616161; /* Muda a cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta ligeiramente ao passar o mouse */
}

.button-add mat-icon {
  font-size: 24px;
  color: #361963; /* Cor do ícone, ajuste conforme necessário */
}
